<body>
  <nav class="sidebar">
    <h2>Sidebar</h2>
    <ul>
      <h6>TRACK</h6>
      <li>
        <a href="/timer"
          ><img src="/img/clock-solid-icon.svg" alt="Clock icon" /><span
            >Timer</span
          ></a
        >
      </li>
      <h6>ANALYZE</h6>
      <li>
        <a href="/reports"
          ><img src="/img/report-icon.svg" alt="Report icon" /><span
            >Reports</span
          ></a
        >
      </li>
      <h6>MANAGE</h6>
      <li>
        <a href="/projects">
          <img src="/img/folder-solid-icon.svg" alt="Folder icon" /><span
            >Projects</span
          ></a
        >
      </li>
    </ul>
  </nav>
</body>
