:root {
  --purple-color: #857beb;
  --white-color: white;
  --argent-color: #898989;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--purple-color);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 20rem;
  height: 100%;
  background-color: #4b4276;
  padding: 3rem 0;
}

.sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-items: center;
  list-style: none;
  text-decoration: none;
}

.sidebar ul h6 {
  font-size: 12px;
  padding-left: 1.5rem;
}

.sidebar ul li {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.sidebar ul li a {
  color: #bdb8d7;
  display: block;
  text-decoration: none;
}
.sidebar ul li a img {
  position: relative;
  top: 2px;
  margin-right: 10px;
  width: 1.6rem;
}

.sidebar ul li:hover,
.sidebar ul .active {
  background-color: #594f8d;
}

.sidebar ul li:hover a,
.sidebar ul li .active {
  color: #fff;
}

h1 {
  left: auto;
}

.top-container {
  width: auto;
  margin: 1.5rem 1.5rem 1.5rem 21.5rem;
  height: 4.76rem;
  border-radius: 1rem;
  background-color: var(--white-color);
}

.top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/* .top-left-section {
  width: 100%;
  height: 3.2rem;
  margin-left: 1.5rem;
} */

/* .top-right-section {
  width: 20%;
  height: 2.6rem;
  margin-right: 1.5rem;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-gap: 1rem;
} */

/* .timer {
  font-size: larger;
  justify-self: end;
  color: var(--argent-color);
} */

/* .play-pause-button {
  height: 2.6rem;
  width: 2.6rem;
  border: none;
  background: none;
  border-radius: 100%;
  cursor: pointer;
  text-decoration: none;
} */

/* .play-pause-button svg {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 100%;
} */

/* .play-pause-button svg path:hover {
  stroke: var(--purple-color);
} */

.bottom-container-flex {
  margin: 0 1.5rem 1.5rem 21.5rem;
  height: 100vh;
  padding: 2.5rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  background-color: var(--white-color);
}

.bottom-container {
  height: 100%;
}

.btn {
  font-family: inherit;
  border: none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  line-height: normal;
  height: 3.6rem;
  padding: 0rem 1.6rem 0rem 1.2rem;
  border-radius: 0.8rem;
  color: var(--white-color);
  background-color: var(--purple-color);
}
