:root {
  --Box-shadow-search-input-timer-container: #827089;
  --Background-search-input-timer-contaier: #ffffff;
  --Input-color: #2c1338;
  --No-projects-color: #73607b;
  --No-projects-background-color: #f0f1f2;
  --No-projects-dot-background-color: rgb(213, 208, 215);
  --Red-color: red;
  --Blue-color: blue;
  --Green-color: green;
  --Light-blue-color: rgb(11, 131, 217);
  --Noxious-color: rgb(147, 162, 2);
  --purple-color: #857beb;
}

.top-left-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.2rem;
  margin-left: 1.5rem;
}

.activity-input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: large;
  font-weight: 600;
}

.top-right-section {
  height: 2.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 1rem;
  width: min(55%, 50rem);
  margin-inline: auto;
}

.top-right-section .project-list-icon {
  width: 2.6rem;
  height: 2.6rem;
}

.top-right-section .open-modal-projects {
  width: 2.6rem;
  height: 2.6rem;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

.top-right-section .project-list-icon:hover,
.top-right-section .open-modal-projects:hover {
  color: var(--purple-color);
}
.timer {
  font-size: larger;
  color: var(--argent-color);
}

.play-pause-button {
  height: 2.6rem;
  width: 2.6rem;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

.play-pause-button svg {
  height: 2.6rem;
  width: 2.6rem;
}

.play-pause-button:hover .play-pause-icon,
.play-pause-button .play-pause-icon:hover {
  stroke: var(--purple-color);
}

.anchor-login {
  width: 2.6rem;
  height: 2.6rem;
  color: black;
}

.anchor-login .login-icon {
  width: 2.6rem;
  height: 2.6rem;
  color: black;
}

.anchor-login:hover,
.anchor-login .login-icon:hover {
  color: var(--purple-color);
}

.select-project-modal {
  display: none;
  justify-content: center;
  margin: 4rem 16rem 0rem 0rem;
}

.select-project-modal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 40rem;
  height: 20rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.24);
}

.modal-visible {
  display: flex;
  position: absolute;
}

.search-icon-on-timer-input-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 3rem;
  box-shadow: inset 0rem 0rem 0rem 0.1rem
    var(--Box-shadow-search-input-timer-container);
  border-radius: 0.8rem;
  background-color: var(--Background-search-input-timer-contaier);
  width: 100%;
}

.search-icon-on-timer {
  flex: 0 0 auto;
  margin: 0rem 0.8rem;
  width: 14px;
  height: 14px;
  overflow: hidden;
}

.input-projects-on-timer {
  flex: 1 1 auto;
  height: 100%;
  background-color: transparent !important;
  font-family: inherit;
  font-weight: 600;
  box-shadow: none !important;
  border: none !important;
  outline: none;
  display: inline-block !important;
  padding: 0px !important;
  width: 70% !important;
  color: var(--Input-color);
}

.projects-container {
  margin-top: 2rem;
  box-sizing: border-box;
  direction: ltr;
  height: 13rem;
  position: relative;
  width: 38rem;
  will-change: transform;
  overflow: auto;
  padding-bottom: 0.5rem;
}

.projects-container::-webkit-scrollbar {
  width: 6px;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: var(--purple-color);
}

.no-project-container {
  height: 3rem;
  line-height: 3rem;
  padding: 0rem 1rem;
  border-radius: 0.8rem;
  cursor: auto;
  width: 96%;
  color: var(--No-projects-color);
  background-color: var(--No-projects-background-color);
  display: grid;
  grid-template-columns: 1.5rem fit-content(100%) 1fr;
  margin-top: 1rem;
  align-items: center;
  flex: 1 1 0%;
}

.no-project-circle {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var(--No-projects-dot-background-color);
}

.project-container {
  height: 3rem;
  line-height: 3rem;
  padding: 0rem 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  width: 96%;
  display: grid;
  grid-template-columns: 1.5rem fit-content(100%) 1fr;
  margin-top: 1rem;
  align-items: center;
  flex: 1 1 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-container:hover {
  background-color: var(--No-projects-background-color);
  cursor: pointer;
}

.project-circle {
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.red {
  background-color: var(--Red-color);
  color: var(--Red-color);
}

.blue {
  background-color: var(--Blue-color);
  color: var(--Blue-color);
}

.green {
  background-color: var(--Green-color);
  color: var(--Green-color);
}

.light-blue {
  background-color: var(--Light-blue-color);
  color: var(--Light-blue-color);
}

.noxius {
  background-color: var(--Noxious-color);
  color: var(--Noxious-color);
}

.project-name {
  background: none;
}
