<%- include('../includes/head.ejs') %>
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="top-container">
        <div class="top">
            <h2>Reports</h2>
        </div>
      </div>
      <div class="bottom-container-flex">
        <div class="bottom-container"></div>
      </div>
  </div>
<%- include('../includes/end.ejs') %>