<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/timer.css">
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="top-container">
        <div class="top">
          <div class="top-left-section">
            <input tabindex="0" class="activity-input" type="text" autocomplete="off" placeholder="What are you working on?"/>
          </div>
          <div class="top-right-section">
            <div id="openModalOnTimer" class="open-modal-projects">
              <svg class="project-list" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
              </svg>
            </div>
              <div id="myModalProjectTimer" class="select-project-modal">
                <div class="select-project-modal-content">
                  <div class="search-icon-on-timer-input-container">
                    <svg class="search-icon-on-timer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                  <input class="input-projects-on-timer" id="inputOnTimer" type="text" placeholder="Search by project" tabindex="0"/>
                  </div>
                </div>
              </div>
            <div class="timer" id="timeDisplay">00:00:00</div>
            <button type="button" class="play-pause-button" id="startStopBtn">
              <svg class="play-pause-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5V18M15 7.5V18M3 16.811V8.69c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 010 1.954l-7.108 4.061A1.125 1.125 0 013 16.811z" />
              </svg>
            </button>
            <a class="anchor-login" href="/login"><svg class="login-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="bottom-container-flex">
        <div class="bottom-container"></div>
      </div>
  </div>
  <script src="/js/script.js"></script>
<%- include('../includes/end.ejs') %>